/* Interactive Map of Winnipeg SVG using the Raphael JavaScript framework
* Michael Gifford - Feb. 2016
* https://github.com/michaelgifford
*/
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
.winnipeg {
	margin-left: 75px;
	cursor: crosshair;
} 
.name-header {
	height: 30px;
	margin-left: 95px;
	margin-bottom: 5px;
	margin-top: 65px;
	font-size: 1.4em;
}
.footer-text {
	font-size: 1.1em;
	margin-left: 75px;
}
.popup-box {
	z-index: 1;
	width: 240px;
	height: auto;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	position: absolute;
	font-weight: bold;
	top: -9999px;
	left: -9999px;
	border: solid 4px black;
	border-radius: 13.5px;
	background-color: #b3b3b3;
}
.popup-box_close {
	z-index: 1;
	width: 30px;
	height: 35px;
	padding: 5px;
	margin-right: 7.5px;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 0.9333333333em;
	color: #777777;
	background-color: transparent;
	position: absolute;
	top: 3.9px;
	right: 4px;
	text-decoration: none;
	display: block;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	border: solid 2.5px #777777;
}